.vacation-card {
  background-color: white;
  padding: 20px;
  width: 280px;
  position: relative;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  z-index: 0;
  overflow: hidden;
}

.vacation-card::before,
.vacation-card::after {
  content: '';
  position: absolute;
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
}

/* Left cloud puff */
.vacation-card::before {
  top: -40px;
  left: 10px;
}

/* Right cloud puff */
.vacation-card::after {
  top: -50px;
  right: 0px;
}



.vacation-card:hover {
  transform: translateY(-4px);
}

.airplane-icon {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 28px;
  transform: rotate(30deg);
}
.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  height: 160px;
}

.destination {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.description {
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
}

.info-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.likes {
  text-align: right;
  font-size: 14px;
}
